:root
{
  --Black: #000000;
  --Gray: #687F92;
  --Blue: #076CC2;
}
body
{
    background-color: var(--Black);
}
*
{
    color: var(--Blue);
    text-align: center;
}
h1
{
    font-size: calc(16pt + 4vw);
}
nav
{
    border: 7px var(--Gray) solid;
    margin: 8vw;
    margin-top: 5px;
}
section
{
    border: 5px var(--Gray) solid;
    margin: 18vw;
    margin-top: 30px;
}
.date
{
    color: var(--Gray);
    white-space: nowrap;
}

.date strong
{
    color: var(--Gray);
    white-space: nowrap;
}
ul
{
    list-style: none;
    padding-left: 0px;
}
.medium-profile {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
              }
